/*/////////////////////////////////////////////////////////////////////////////////
                                        GENERAL STYLES
/////////////////////////////////////////////////////////////////////////////////*/

body{
  font-family: 'Raleway', sans-serif, "KaiTi", "楷体", STKaiti, "华文楷体", serif;
}



/* /////////////////////////////////////////////////////////////////////////////////
                                        LINKS
///////////////////////////////////////////////////////////////////////////////// */

a:link{
    color: rgba(176, 44, 49, 1);
    text-decoration: none;
}
    a:hover {
        color:black;
        transition: 1s color;
    }
    a:visited {
        color:black;
    }
    a:active {
        color:black;
    }

@media screen and (min-width: 720px){
  .list {
  }

  #sidemenu{
    background-color: #77C8CF;
  }
}

