<ion-view title="{{'MENU.FEEDBACK_ID' | translate}}" hide-back-button="true" id="page11" class=" ">
    <ion-content padding="true" class="has-header">
      <form action="https://formspree.io/links@journeytochinatown.com"
            method="POST">
        <br>
        <label class="item item-input " id="feedback-textarea3">
                  <span class="input-label">E-mail</span><input type="email" name="_replyto">
        </label>

        <br>

        <label class="item item-input " id="feedback-textarea3">
            <span class="input-label">Message</span><textarea placeholder="" name="message" rows="10"></textarea>
        </label>

        <br>

        <input type="submit" value="Send" class="button button-positive  button-block ">
      </form>
    </ion-content>
</ion-view>
