<ion-view title="Flashcards" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="flashcards-form3" class="list ">
            <label class="item item-select " id="flashcards-select1">
                <span class="input-label">Chapter</span>
                <select>
                    <option>1 Introduction</option>
                    <option>2 Work</option>
                    <option>3 Countries</option>
                    <option>4 Counting</option>
                    <option>5 Hotel</option>
                    <option>6 Food</option>
                    <option>7 Family</option>
                    <option>8 Transportation</option>
                </select>
            </label>
            <div class="spacer" style="width: 300px; height: 19px;"></div>
            <label class="item item-input " id="flashcards-input6">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
            <div class="spacer" style="width: 300px; height: 19px;"></div>
            <ion-item id="flashcards-list-item7" class="  ">ng-repeat Cards</ion-item>
        </form>
    </ion-content>
</ion-view>