<ion-view title="{{'MENU.FLASHCARDS_ID' | translate}}" id="flashcards" class="page" ng-cloak>
  <link href="../styles/flashcard.css" rel="stylesheet">
    <ion-content padding="true" class="has-header">
        <form id="flashcards-form3" class="list ">
            <label class="item item-select " id="flashcards-select1">
                <span class="input-label">{{'FLASHCARDTABLE.CHAPTER_ID' | translate}}</span>
                <select ng-init="" ng-model="chapterSelection">
                    <option value="">{{'FLASHCARDTABLE.ALL_ID' | translate}}</option>
                    <option value="1">{{'FLASHCARDTABLE.1_ID' | translate}}</option>
                    <option value="2">{{'FLASHCARDTABLE.2_ID' | translate}}</option>
                    <option value="3">{{'FLASHCARDTABLE.3_ID' | translate}}</option>
                    <option value="4">{{'FLASHCARDTABLE.4_ID' | translate}}</option>
                    <option value="5">{{'FLASHCARDTABLE.5_ID' | translate}}</option>
                    <option value="6">{{'FLASHCARDTABLE.6_ID' | translate}}</option>
                    <option value="7">{{'FLASHCARDTABLE.7_ID' | translate}}</option>
                    <option value="8">{{'FLASHCARDTABLE.8_ID' | translate}}</option>
                    <option value="9">{{'FLASHCARDTABLE.9_ID' | translate}}</option>
                    <option value="10">{{'QUIZ.10_ID' | translate}}</option>
                    <option value="11">{{'QUIZ.11_ID' | translate}}</option>
                    <option value="12">{{'QUIZ.12_ID' | translate}}</option>
                    <option value="13">{{'QUIZ.13_ID' | translate}}</option>
                    <option value="14">{{'QUIZ.14_ID' | translate}}</option>
                </select>
            </label>
            <div class="spacer" style="width: 300px; height: 19px;"></div>
            <label class="item item-input " id="flashcards-input6">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="" class="query" ng-model="search">
            </label>
            <div class="spacer" style="width: 300px; height: 19px;"></div>
            <div>
            <ion-item id="flashcard-container"  ng-repeat="Card in Cards | filter  : {chapter : chapterSelection} | filter : search : ignoreTones | orderBy: sortField "
              ng-click="select(Card)">
              <div id="flashcard"ng-class="{'active': isActive(Card)}">
                <div id="character">{{Card.character}}</div>
                <div id="pinyin">{{Card.pinyin}}</div>
                <div class="translation" ng-show="language == 'de'">{{Card.translation_d}}</div>
                <div class="translation" ng-show="language == 'en'">{{Card.translation_e}}</div>
              </div>
            </ion-item>
            </div>
        </form>
    </ion-content>
</ion-view>
