<ion-view title="Home" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="home-heading1" style="color:#000000;" class=" ">Heading</h1>
        <p id="home-markdown1" style="color:#000000;" class=" ">Some friendly
            <strong>markdown</strong>
        </p>
        <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
    </ion-content>
</ion-view>