<ion-view title="Immersion" hide-back-button="true" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="immersion-heading2" style="color:#000000;" class=" ">Youtube able/ disable</h1>
        <ion-list id="immersion-list4" class=" ">
            <ion-item id="immersion-list-item11" class="  ">ng-repeat youtube</ion-item>
        </ion-list>
        <h1 id="immersion-heading3" style="color:#000000;" class=" ">Heading</h1>
        <ion-list id="immersion-list5" class=" ">
            <ion-item id="immersion-list-item12" class="  ">ng-repeat else</ion-item>
        </ion-list>
    </ion-content>
</ion-view>