<ion-view title="Quiz" hide-back-button="true" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="quiz-form4" class="list ">
            <label class="item item-select " id="quiz-select3">
                <span class="input-label">{{'QUIZ.CHAPTER_ID' | translate}}</span>
                <select ng-model="chapter" ng-change="takeOverChapter(chapter)">
                    <option value="All">{{'QUIZ.ALL_ID' | translate}}</option>
                    <option value="1">{{'QUIZ.1_ID' | translate}}</option>
                    <option value="2">{{'QUIZ.2_ID' | translate}}</option>
                    <option value="3">{{'QUIZ.3_ID' | translate}}</option>
                    <option value="4">{{'QUIZ.4_ID' | translate}}</option>
                    <option value="5">{{'QUIZ.5_ID' | translate}}</option>
                    <option value="6">{{'QUIZ.6_ID' | translate}}</option>
                    <option value="7">{{'QUIZ.7_ID' | translate}}</option>
                    <option value="8">{{'QUIZ.8_ID' | translate}}</option>
                </select>
            </label>
        </form>
        <div id="quiz-button-bar1" class=" button-bar ">
            <button id="quiz-button6" class=" button button-positive  button-block " ng-click="Minus()">{{'QUIZ.BACK_ID' | translate}}</button>
            <button id="quiz-button8" class=" button button-positive  button-block " ng-click="Add()">{{'QUIZ.NEXT_ID' | translate}}</button>
        </div>
        <div class="list card " id="quiz-card21" >
            <ion-card id="quiz-list-item13" class="  " ng-show="Cards[index].characterShow" style="font-size: 8em;"><br>{{Cards[index].character}}<br><br></ion-card>
            <ion-item id="quiz-list-item15" class="  " ng-show="Cards[index].pinyinShow == false" style="font-size: 2em;">{{Cards[index].pinyin}}</ion-item>

            <div ng-show="Cards[index].translationShow == false">
                <div ng-show="language == 'de'">
                  <ion-item id="quiz-list-item16" class="  " style="font-size: 2em; align-content: center;">{{Cards[index].translation_d}}</ion-item>
                </div>
                <div ng-show="language == 'en'">
                  <ion-item id="quiz-list-item17" class="  " style="font-size: 2em;">{{Cards[index].translation_e}}</ion-item>
                </div>
            </div>
        </div>
        <button id="quiz-button9" class=" button button-positive  button-block " ng-click="answer()">{{'QUIZ.TURNCARD_ID' | translate}}</button>
    </ion-content>
</ion-view>
