<ion-view title="Quiz" hide-back-button="true" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="quiz-form4" class="list ">
            <label class="item item-select " id="quiz-select3">
                <span class="input-label">Chapter</span>
                <select>
                    <option>All</option>
                    <option>1 - Introduction</option>
                    <option>2 - Work</option>
                    <option>3 - Countries</option>
                    <option>4 - Numbers</option>
                    <option>5 - Hotel</option>
                    <option>6 - Food</option>
                    <option>7 - Family</option>
                    <option>8 - Transportation</option>
                </select>
            </label>
        </form>
        <div id="quiz-button-bar1" class=" button-bar ">
            <button id="quiz-button6" class=" button button-positive  button-block ">previous</button>
            <button id="quiz-button8" class=" button button-positive  button-block ">next</button>
        </div>
        <div class="list card " id="quiz-card21">
            <ion-item id="quiz-list-item13" class="  ">Character</ion-item>
            <ion-item id="quiz-list-item15" class="  ">Pinyin</ion-item>
            <ion-item id="quiz-list-item16" class="  ">Translation</ion-item>
        </div>
        <button id="quiz-button9" class=" button button-positive  button-block ">Turn Card</button>
    </ion-content>
</ion-view>