<ion-view title="{{'MENU.SETTINGS_ID' | translate}}" hide-back-button="true" id="page8" class=" ">
  <ion-content padding="true" class="has-header">
    <form id="quiz-form4" class="list ">
      <label class="item item-select " id="quiz-select3">
        <span class="input-label">{{'SETTINGS.LANGUAGE_ID' | translate}}</span>
        <select ng-init="changeLanguage(langKey)" ng-model="langKey" ng-change="changeLanguage(langKey)">
          <option value="de">Deutsch</option>
          <option value="en" selected="">English</option>
          </select>
      </label>
    </form>

  </ion-content>
</ion-view>
